In [1]:
ppl = {1:'Adam', 2:'Tom',4:'Ann'}

In [2]:
ppl.get(3)

In [3]:
ppl[3]

KeyError: 3

In [5]:
try:
    ppl[3]
except Exception as ex:
    print('Cannot get value: {}'.format(ex))

Cannot get value: 3

In [9]:
try:
    1/0
    ppl[3]
except KeyError as ex:
    print('Cannot get value: {}'.format(ex))
except ZeroDivisionError as ex:
    print('Cannot devide: {}'.format(ex))
except Exception as ex:
    print('Some other error: {}'.format(ex))
finally:
    print('finished')

Cannot devide: division by zero
finished

In [10]:
class Human:
    species = 'homo-sapiens'

    def __init__(self, age, name, surname, weight):
        self.age = age
        self.name = name
        self.surname = surname
        self.weight = weight
        
    def say_hello(self):
        print('Hello I\'m {}'.format(self.name))
        
    @property
    def full_name(self):
        return "{name} {surname}".format(name=self.name, surname=self.surname)
    
    def __str__(self):
        return self.full_name
    
    def __repr__(self):
        return '{class_name} with full name: {full_name}'.format(class_name=self.__class__, full_name=self.full_name)
    
    def __gt__(self, other):
        return self.age > other.age
    
    
class ModernHuman(Human):
    def __init__(self, age, name, surname, weight, facebook_account):
        super().__init__(age, name, surname, weight)
        self.facebook_account = facebook_account
        
        
x_youtuber = ModernHuman(21, 'Tom', 'Random', 91, 'http://facebook.com/32')

In [11]:
import pickle

In [12]:
Ania = Human(20, 'Anka', 'Nowak', 54)

In [13]:
with open('human.pickle', 'wb') as pickle_fil:
    pickle.dump(Ania,pickle_fil )

In [14]:
with open('human.pickle','rb') as pickle_fil:
    tmp_read = pickle.load(pickle_fil)
tmp_read

<class '__main__.Human'> with full name: Anka Nowak

# Args

In [15]:
def multiply(x,y):
    print (x*y)

In [16]:
multiply(4,5)

20

In [17]:
multiply(4,5,2)

TypeError: multiply() takes 2 positional arguments but 3 were given

In [18]:
def multiply(*args):
    z = 1
    print(args)
    print(type(args))
    for num in args:
        z *= num
    print (z)

In [19]:
multiply(4,5,2)

(4, 5, 2)
<class 'tuple'>
40

# Kwargs

In [24]:
def print_values(first_param=3, **kwargs):
    for key, value in kwargs.items():
        print('Tke value of {} is {}'.format(key, value))
    print('First param {}'.format(first_param))

In [25]:
print_values(first_param=3, x=3, y=4, z=5)

Tke value of x is 3
Tke value of y is 4
Tke value of z is 5
First param 3

In [26]:
print_values(first_param=9, x=3, y=4, z=5)

Tke value of x is 3
Tke value of y is 4
Tke value of z is 5
First param 9

In [27]:
print_values(x=3, y=4, z=5)

Tke value of x is 3
Tke value of y is 4
Tke value of z is 5
First param 3